@use "./../utils" as *;

// 버튼 공통 스타일
.button {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: transparent;

  // 로그인 버튼
  &--login {
    width: 100%;
    height: 3.3em;
    border-radius: 4px;
    background: $red;
    color: $white;
    font-size: 1.1em;
  }

  // 로그인 버튼 호버
  &--login:hover {
    background: $dark-red;
  }

  // 상태 버튼
  &--ok {
    height: rem(50px);
    border-radius: 4px;
    background: $gray700;
    color: $gray400;
  }

  // 상태 버튼 액티브
  &--ok:active {
    background: $gray100;
    color: $black
  }

  // 상태 버튼 호버
  &--ok:hover {
    background: $white;
    color: $black;
  }

  // 테두리 없는 버튼
  &--no-border {
    background: transparent;
    color: $gray300;
    height: rem(34px);
    line-height: 160%;
  }

  // 테두리 없는 버튼 호버
  &--no-border:hover {
    color: $white;
  }

  // 새로운 티빙을 만나보세요!
  &--meet {
    border-radius: 4px;
    color: $white;
    background: $light-red;
    @include flexbox($items: center, $justify: space-between);
    font-weight: 600;
    line-height: 150%;
  }

  &--meet-image {
    background-size: cover;
    transition: all 0.3s;

    @include desktop {
      width: rem(63px);
      height: rem(67px);
      background: url(./../../assets/icon/desktop/d_simbol.svg) no-repeat;
    }

    @include tablet {
      width: rem(36px);
      height: rem(48px);
      background: url(./../../assets/icon/tablet/t_simbol.svg) no-repeat;
    }

    @include mobile {
      width: rem(26px);
      height: rem(34px);
      background: url(./../../assets/icon/mobile/m_simbol.svg) no-repeat;
    }
  }

  // 데스크탑
  @include desktop {
    transition: all 0.3s;
    // 확인
    &--ok {
      width: rem(732px);
    }

    // 새로운 티빙을 만나보세요!
    &--meet {
      width: rem(434px);
      height: rem(67px);
      padding: 8px 64px 8px 8px;
      font-size: rem(20px);
    }
  }

  // 태블릿
  @include tablet {
    transition: all 0.3s;
    // 확인
    &--ok {
      width: rem(416px);
    }

    // 새로운 티빙을 만나보세요!
    &--meet {
      width: rem(283px);
      height: rem(48px);
      padding: 0px 44px 0px 8px;
      font-size: rem(16px);
    }
  }

  // 모바일
  @include mobile {
    transition: all 0.3s;
    // 확인
    &--ok {
      width: rem(288px);
    }

    // 새로운 티빙을 만나보세요!
    &--meet {
      width: rem(188px);
      height: rem(34px);
      padding: 0px 16px 0px 8px;
      font-size: rem(12px);
    }
  }
}

// 키보드로 버튼에 포커스 시
button:focus-visible {
  outline: 1px solid #fff;
}

// 마우스, 터치로 버튼에 포커스 시
button:focus:not(:focus-visible) {
  outline: none;
}