@use "./../utils" as *;

// input 공통 스타일
.form-input {
  &__input {
    width: 100%;
    height: 4em;
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: $dark-bg-2;
    @include paddingX(16px);
    color: $white;
  }

  // icon-hide를 위한 위치 설정
  &__pwd {
    position: relative;
  }

  &__input::placeholder {
    color: $gray600;
    font-size: 1.2em;
  }

  // input focus
  &__input:focus {
    border: 1px solid $gray100;
  }

  // input active
  &__input:active::placeholder {
    color: $white;
  }
}

.icon-hide {
  border-radius: 100%;

  @include desktop {
    min-width: rem(36px);
    height: rem(36px);
    background-image: url(./../../assets/icon/desktop/d_eyes.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include tablet {
    min-width: rem(20px);
    height: rem(20px);
    background-image: url(./../../assets/icon/tablet/t_eyes.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.layout-lastright {
  position: absolute;
  right: rem(15px);
  top: 55%;
  transform: translateY(-50%);
}