@use "./../utils" as *;

// input 공통 스타일
.form-input {
  &__input {
    appearance: none;
    outline: none;
    border: 0;
    display: block;
    border-radius: 4px;
    height: rem(54px);
    background: $dark-bg-2;
    @include paddingX(16px);
    color: $white;
  }

  &__input::placeholder {
    color: $gray600;
  }

  // input focus
  &__input:focus {
    border: 1px solid $gray100;
  }

  // input active
  &__input:active + .icon-close {

  }
  &__input:active::placeholder {
    color: $white;
  }

  // 데스크탑
  @include desktop {
    &__input {
      width: rem(732px);
    }
  }

  // 태블릿
  @include tablet {
    &__input {
      width: rem(416px);
    }
  }

  // 모바일
  @include mobile {
    &__input {
      width: rem(288px);
    }
  }
}

.icon-close {
  position: absolute;
  min-width: 3rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url(./../../assets/icon/desktop/d_close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.icon-hide {
  position: absolute;
  right: 0;
  min-width: 3rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url(./../../assets/icon/desktop/d_eyes.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

icon-hide.layout-lastright {
  margin-left: auto;
  margin-right: 2rem;
}