//  기본 색상 --------------------------------------------------------- /
$red: #FF153C;
$light-red: #E93945;
$dark-red: #CC1030;
$vod-red : #c73e4e;
$gray100: #E1E1E1;
$gray200: #C4C4C4;
$gray300: #A6A6A6;
$gray400: #898989;
$gray500: #6B6B6B;
$gray600: #565656;
$gray700: #404040;
$white: #FFFFFF;
$black: #000000;
$dark-black: #212121;


// 콘텐츠 별 색상 변수
$base-bg: $black; // body 기본 배경 색상
$base-text: $white; // body 기본 글자 색상

$dark-bg-2: $dark-black; // 티빙 어두운 배경