@use "./../utils/unit" as *;

// 포지션 관련 믹스인
@mixin pos {
  position: absolute;
}

@mixin posLeftTop($l: 0, $t: 0) {
  @include pos;
  top: $t;
  left: $l;
}

@mixin posRightTop($r: 0, $t: 0) {
  @include pos;
  top: $t;
  right: $r;
}

@mixin posCenterX {
  @include pos;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posBottomY {
  @include pos;
  top: 100%;
  transform: translateY(-100%);
}

@mixin posCenterY {
  @include pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posCenter {
  @include pos;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 컨테이너 max width
@mixin containerMax($max-width: 1024px) {
  max-width: rem($max-width);
  @include autoMargin;
}

// 컨테이너 min width
@mixin containerMin($min-width: 323px) {
  min-width: rem($min-width);
  @include autoMargin;
}

// 패딩
@mixin padding($spacing) {
  @include paddingX($spacing);
  @include paddingY($spacing);
}

@mixin paddingX($spacing) {
  padding-left: rem($spacing);
  padding-right: rem($spacing);
}

@mixin paddingY($spacing) {
  padding-top: rem($spacing);
  padding-bottom: rem($spacing);
}

// 마진
@mixin margin($spacing) {
  @include marginX($spacing);
  @include marginY($spacing);
}

@mixin marginX($spacing) {
  margin-left: rem($spacing);
  margin-right: rem($spacing);
}

@mixin marginY($spacing) {
  margin-top: rem($spacing);
  margin-bottom: rem($spacing);
}

@mixin autoMargin {
  margin: 0 auto;
}

// 그리드 믹스인
@mixin gridbox($column-count: 12, $column-width: 1fr, $row-gap: 0, $column-gap: 16px) {
  display: grid;
  grid-template-columns: repeat($column-count, $column-width);
  grid-template-rows: auto;
  grid-column-gap: rem($column-gap);
  grid-row-gap: rem($row-gap);
}

// ration 믹스인
@mixin ratio($w, $h) {
  aspect-ratio: $w / $h;
}

// 반응형 콘텐츠
@mixin respons($width: max-width, $height: auto) {
  #{$width}: 100%;
  height: $height;
}

@mixin fit($fit : cover, $posX: 0, $posY : 0) {
  object-fit: $fit;
  object-position: $posX $posY;
}

// 말줄임표
@mixin textOver {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//div 이미지 크기 커버관련
@mixin imageCover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// 제목 타이틀 믹스인 
@mixin title {
  font-size: rem(28.43px);
  font-weight: 700;
}
 