<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/icon/favicon/tiving.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="./../../style/index.css" />
    <title>FIND ID</title>
  </head>
  <body>
    <header class="appHeader">
      <h1 class="logo">
        <a href="/" class="logo__link" aria-label="TVING"></a>
      </h1>
    </header>
    <main class="appMain">
      <div class="findId">
        <h2 class="findIdTitle">아이디 찾기</h2>
        <form class="form-input">
          <fieldset class="a11yHidden">아이디 찾기 폼</fieldset>
          <div class="form-input__FormSummary">
            <span class="form-input__findEmail">이메일로 찾기</span>
            <span class="form-input__emailCheck">가입시 등록된 이메일을 입력해 주세요</span>
          </div>
          <div class="form-input__userInputWrapper">
            <label for="userEmail" class="a11yHidden">이메일</label>
            <input type="text" id="userEmail" placeholder="이메일" class="form-input__input" required />
          </div>
          <button class="form-input__userEmailConfirm">확인</button>
        </form>
        <p class="and">
          <span class="and__text">또는</span>
        </p>
        <div class="findSelf">
          <span class="findSelf__sur">본인인증으로 찾기</span>
          <span class="findSelf__sub">이미 본인 인증이 완료된 계정에 한하여 아이디 찾기가 가능합니다</span>
          <button class="findSelf__button">본인인증하기</button>
        </div>
      </div>
    </main>
    <footer class="appFooter">
      <section class="footer-section">
        <nav class="footer-nav">
          <a class="nav__item" href="/">고객센터</a>
          <a class="nav__item" href="/">이용약관</a>
          <a class="nav__item" href="/">개인정보처리방침</a>
          <a class="nav__item" href="/">청소년 보호정책</a>
          <a class="nav__item" href="/">법적고지</a>
          <a class="nav__item" href="/">이벤트</a>
          <a class="nav__item" href="/">인재채용</a>
        </nav>
        <div class="buisness-wrap">
          <p>
            <span>대표이사 : YANG JIEUL</span><span><a class="link__buisiness" href="/">사업자정보확인</a></span
            ><span>사업자등록번호 : 188-88-01893</span><span>통신판매신고번호 : 2020-서울마포-3641호</span>
          </p>
          <p>
            <span>사업장 : 서울특별시 마포구 상암산로 34, DMC디지털큐브 15층(상암동)</span
            ><span>호스팅사업자 : 씨제이올리브네트웍스(주)</span>
          </p>
          <p>
            <span><a class="link__inquiry" href="/">고객문의 바로가기</a></span
            ><span>대표메일 : tving@cj.net</span><span>고객센터 : 1670-1525(평일 09시~18시)</span>
          </p>
          <p>
            <span>ENM 시청자 상담실 (편성 문의 및 시청자 의견) : 080-080-0780</span
            ><span>Mnet 고객센터(방송편성문의) : 1855-1631</span>
          </p>
        </div>
        <div class="sns">
          <a class="youtube" href="/" aria-label="유튜브"></a>
          <a class="insta" href="/" aria-label="인스타그램"></a>
          <a class="twitter" href="/" aria-label="트위터"></a>
          <a class="facebook" href="/" aria-label="페이스북"></a>
        </div>
        <p class="copyright">Copyright © 주식회사 티빙 All right reserved.</p>
      </section>
    </footer>
  </body>
</html>
