<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>프로필 수정</title>
  <link rel="shortcut icon" href="/src/tiving.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../../style/index.css" />
</head>
<body>
  <header></header>
  <main class="profile__container">
    <div class="profile">
    <h1 class="profile__title">프로필 선택</h1>
    <p class="profile__subtitle">시청할 프로필을 선택해주세요.</p>
      <div class="profile__list">
        <ul class="profile__items">
          <li class="profile__items__img"><img src="../../assets/images/figma-desktop/profile-1.png" alt="" /><span>슬비님</span></li>
          <li class="profile__items__img"><img src="../../assets/images/figma-desktop/profile-3.png" alt="" /><span>야무</span></li>
          <li class="profile__items__img"><img src="../../assets/images/figma-desktop/profile-2.png" alt="" /><span>범쌤</span></li>
          <li class="profile__items__img"><img src="../../assets/images/figma-desktop/profile-4.png" alt="" /><span>이듬</span></li>
        </ul>
        <ul class="profile__items profile__items_edit">
          <li class="profile__items_edit_item"></li>
          <li class="profile__items_edit_item"></li>
          <li class="profile__items_edit_item"></li>
        </ul>
      </div>
      <button type="button" class="profile__btn">프로필 편집</button>
    </div>
  </main>
  <footer></footer>
</body>
</html>