@use "./../utils" as *;
@use "./../components" as *;

.find-pw {
  padding-top: rem(170px);
  @include autoMargin;
  @include flexbox($justify: center, $direction: column, $items: center);
  transition: all 0.3s;

  &-title {
    font-size: rem(37px);
    font-weight: 700;
    line-height: 140%;
    color: $white;
  }

  &-text {
    font-weight: 600;
    line-height: 150%;
    color: $gray400;
    margin-top: 50px;
    font-size: 24px;
  }

  @include desktop {
    @include containerMax(1920px);
    width: 732px;
    font-size: rem(16px);

    &-title {
      font-size: rem(38px);
    }
    &-text {
      margin-top: 50px;
      font-size: 24px;
    }
  }

  @include tablet {
    @include containerMax(1280px);
    width: 416px;
    font-size: rem(14px);

    &-title {
      font-size: rem(28px);
    }
    &-text {
      margin-top: 24px;
      font-size: 16px;
    }
  }

  @include mobile {
    @include containerMax(768px);
    width: 288px;
    font-size: rem(13px);

    &-title {
      font-size: rem(16px);
    }
    &-text {
      margin-top: 28px;
      font-size: 12px;
    }
  }
}

.input {
  &__find-pw {
    margin-top: rem(24px);
  }
}

.input__find-pw {
  font-weight: 400;
  background: $dark-black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: none;

  @include desktop {
    height: 96px;
    font-size: 28px;
  }

  @include tablet {
    height: 54px;
    font-size: 16px;
  }

  @include mobile {
    height: 46px;
    font-size: 12px;
  }
}

.button---pw {
  background: $gray700;
  color: $gray400;
  font-weight: 600;

  @include desktop {
    height: 86px;
    margin-top: 36px;
    font-size: 28px;
  }

  @include tablet {
    height: 50px;
    margin-top: 24px;
    font-size: 16px;
  }

  @include mobile {
    height: 42px;
    margin-top: 20px;
    font-size: 12px;
  }
}

.button---pw:hover {
  background: $gray600;
}