@use '../utils' as *;

.regist__container {
  padding-top: rem(70px);
  @include flexbox(column,$justify:center, $items:center);
  color: $gray500;
  transition: all 0.3s;
  
  @include desktop {
    @include containerMax(1920px);
    font-size: rem(21px);
  }

  @include tablet {
    @include containerMax(1280px);
    font-size: rem(12px);
  }

  @include  mobile{
    @include containerMax(768px);
    font-size: rem(12px);
  }

}

.regist__wrapper{

  @include desktop {
    width: 41.667rem;
  }

  @include tablet {
    width: rem(416px);
  }
  
  @include  mobile {
    width: rem(288px);
  }
  
}

.join__title {
  text-align: center;
  color: $white;
  font-weight: 700;
  
  @include desktop{
    font-size:rem(38px);
    margin-bottom: rem(28px);
  }
  
  @include tablet {
    font-size: rem(28px);
    margin-bottom: rem(8px);
  }
  @include mobile{
    font-size: rem(16px);
    margin-bottom: rem(16px);
  }
  
  
}

.join__subtitle {
color: #898989;
  text-align: center;
  font-weight: 600;
  font-size: rem(28px);

  @include mobile{
    text-align: start;
  }
  @include tablet{
    font-size: rem(12px);
  }
}

//회원가입 폼


.join__item {
  &_text {
    display: inline-block;
    margin-top: rem(4px);
    line-height: 160%;
  }

  &_input {
    width: 100%;
    height: 96px;
    padding: 24px;
    background: $dark-black;
    border: 0;
    margin-top: 30px;
    border-radius: 4px;
    
    @include tablet {
      height: 54px;
      margin-top: 18px;
    }

    @include  mobile {
      height: 46px;
      margin-top: 16px;
    }
    
  }

}


.join__checkItem,
.join__checkItem_2{
  margin-top: 8px;
  @include flexbox;
  appearance: none;
  & > li {
    margin-top: ren(18px);
  }
}

.join__submit {
  width: 100%;
  height: 96px;
  border: 0;
  appearance: none;
  background: $gray700;
  color: $gray400;
  border-radius: 4px;

  @include mobile {
    height: rem(42px);
  }

  @include tablet {
    height: rem(50px);
  }
}



// 이용약관 체크박스
.join__check{
  margin-bottom: 24px;

//체크박스 커스텀
  &box {
    width: rem(26px);
    height: rem(26px);
    appearance: none;
    @include pos;
  
}
// 약관 동의 체크 전 후
  &box:checked + label{
    background: url(../../assets/icon/desktop/d_check2_red.svg) no-repeat left;
    padding-left: rem(26px);
    background-size: contain;
    color: $white;
  }
  &_label {
    background: url(./../../assets/icon/desktop/d_check2.svg) no-repeat;
    padding-left: rem(26px);
    background-size: contain;
  }
    // 모두 동의 체크 전 후
  &_label_all {
    background: url(./../../assets/icon/desktop/d_check.svg) no-repeat left;
    background-size: contain;
    padding-left: rem(26px);
    @include marginY(24px);
  }
  &_all:checked + label{
    background: url(../../assets/icon/desktop/d_check_red.svg) no-repeat left;
    padding-left: rem(26px);
    background-size: contain;
  }
}

// 선택 체크리스트
.join__check_2 {
  padding-left: 36px;
}
