@use '../base' as *;
@use '../utils' as *;


  .regist__container {
  background: $black;
  width: 100%;
  height: 100%;

  @include flexbox(column,$justify:center, $items:center);
  padding: 70px 0;
  color: $gray500;
  font-size: 1.167rem;

  @include  mobile{
    font-size: 0.75rem;
  }

  @include tablet {
    font-size: 0.75rem;
  }


}

.regist__wrapper{
  
  @include  mobile {
  min-width: 288px;
  }
  @include tablet {
    max-width: 416px;
  }
  
  @include desktop {
    max-width: 41.667rem;
  }
}

.join__title {
  text-align: center;
  color: $white;
  
  @include mobile{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  @include tablet {
    font-size: 28px;
    margin-bottom: 8px;
  }
  
  @include desktop{
    font-size: 2.5rem;
    margin-bottom: 28px;
  }
}

.join__subtitle {
color: #898989;
  text-align: center;
  font-weight: 600;
  font-size: 1.677rem;

  @include mobile{
    font-size: 0.75rem;
    text-align: start;
  }
  @include tablet{
    font-size: 1rem;
  }
}

//회원가입 폼

.join__list {
  list-style: none;
}

.join__item:first-child,
.join__item:nth-child(2){
  @include flexbox(column);
}

.join__item {
  // width: 100%;
  &_input {
    width: 100%;
    height: 96px;
    padding: 24px;
    background: $dark-black;
    border: 0;
    margin-top: 30px;
    border-radius: 4px;

    @include  mobile {
      height: 46px;
      margin-top: 16px;
    }
    @include tablet {
      height: 54px;
      margin-top: 18px;
    }
  }

}

// 이용약관 체크박스
.join__checkList{
  margin-bottom: 24px;

  &_all{
      padding: 16px 0;

    @include desktop {
      padding: 24px 0;
    }
  }
}

.join__checkItem,
.join__checkItem_2{
  margin-top: 8px;
  @include flexbox;
  gap: 12px;
}

.join__submit {
  width: 100%;
  height: 96px;
  border: 0;
  background: $gray700;
  color: $gray400;
  border-radius: 4px;

  @include mobile {
    height: 42px;
  }

  @include tablet {
    height: 50px;
  }
}

// 체크리스트
.join__checkList_2 {
    padding-left: 36px;
}