@use "./../utils" as *;
@use "./../components" as *;

// 스크롤 섹션 0
.onboading__section_0 {
  @include flexbox($direction: column, $items: center, $justify: center);
  padding: 160px 0 130px 0;
  height: 95vh;
  max-height: 68vw;
  width: 100%;
  color: $white;

  @include desktop {
    @include containerMax(1920px);
    background-image:
      url(./../../assets/images/figma-desktop/gradation-img.png),
      url(./../../assets/images/figma-desktop/background-img.png);
    @include bgSetting;
  }

  @include tablet {
    @include containerMax(1280px);
    background-image:
      url(./../../assets/images/tablet/gradation-img.png),
      url(./../../assets/images/tablet/background-img.png);
    @include bgSetting;
  }

  @include mobile {
    @include containerMax(768px);
    background-image:
      url(./../../assets/images/figma-mobile/gradation-img.png),
      url(./../../assets/images/figma-mobile/background-img.png);
    @include bgSetting;
  }
}

// 스크롤 섹션 1-3
.onboading {
  &__section_1 {
    @include desktop {
      margin-top: rem(160px);
    }

    @include tablet {
      margin-top: rem(40px);
    }

    @include mobile {
      margin-top: rem(48px);
    }
  }

  &__section_2 {
    @include desktop {
      margin-top: rem(160px);
    }

    @include tablet {
      margin-top: rem(80px);
    }

    @include mobile {
      margin-top: rem(48px);
    }
  }

  &__section_3 {
    @include desktop {
      @include paddingY(160px);
    }

    @include tablet {
      @include paddingY(100px);
    }

    @include mobile {
      @include paddingY(52px);
    }
  }
}

.intro {
  // 인트로 섹션 공통 스타일
  &__section {
    @include flexbox($direction: column, $items: center);
  }

  // 인트로 섹션 0
  &__section_0 {
    @include flexbox($direction: column, $items: center);
    line-height: 150%;

    // loading animation
    animation: scroll-animation 1.2s 0.1s forwards;
    opacity: 0;
    -webkit-transform: translate3d(0, 120px, 0);
    -moz-transform: translate3d(0, 120px, 0);
    -ms-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);

    @keyframes scroll-animation {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 120px, 0);
        -moz-transform: translate3d(0, 120px, 0);
        -ms-transform: translate3d(0, 120px, 0);
        transform: translate3d(0, 120px, 0);
      }

      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    >p {
      font-weight: 700;
      line-height: 140%;

      @include desktop {
        font-size: rem(40px);
      }
      @include tablet {
        font-size: rem(21px);
      }
      @include mobile{
        font-size: rem(16px);
      }
    }

    .text__signup {
      color: $gray400;
      font-weight: 600;
      line-height: 160%;

      @include desktop {
        font-size: rem(20px);
        margin: 10px 0 60px 0;
      }
      @include tablet {
        font-size: rem(12px);
        margin: 10px 0 30px 0;
      }
      @include mobile{
        font-size: rem(12px);
        margin: 10px 0 16px 0;
      }
    }
  }

  // 인트로 타이틀(공통)
  &__title {
    font-weight: 700;
    line-height: 140%;
    color: $white;

    @include desktop {
      font-size: rem(50px);
    }

    @include tablet {
      font-size: rem(28px);
    }

    @include mobile {
      font-size: rem(21px);
    }
  }

  // 인트로 섹션 텍스트(공통)
  &__text {
    &_1 {
      margin-top: rem(8px);
      font-weight: 600;
      line-height: 150%;
      color: $gray200;

      @include desktop {
        font-size: rem(28px);
      }

      @include tablet {
        font-size: rem(16px);
      }

      @include mobile {
        font-size: rem(12px);
      }
    }

    &_2 {
      font-weight: 600;
      line-height: 150%;
      color: $gray200;

      @include desktop {
        font-size: rem(21px);
      }

      @include tablet {
        font-size: rem(12px);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__section_1 {
    justify-content: center;
  }

  &__section_3 {
    justify-content: center;

    @include desktop {
      row-gap: rem(36px);
    }

    @include tablet {
      row-gap: rem(14px);
    }

    @include mobile {
      row-gap: rem(18px);
    }
  }
}

// 스크롤 섹션 1 - 슬라이더
.image {

  &__section_1,
  &__section_2 {
    position: relative;
    width: 100%;
    @include flexbox;
    overflow: hidden;
    margin-top: rem(32px);
  }

  &__section_3 {
    position: relative;
    width: 100%;
    @include flexbox;
    overflow: hidden;
  }
}

.slide {

  &__container_1,
  &__container_3 {
    @include flexbox($justify: center, $items: center);
    animation: loop 25s linear infinite;
  }
  &__container_2 {
    @include flexbox($justify: center, $items: center);
    animation: loop2 25s linear infinite;
  }

  // img slide animation
  @keyframes loop {
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes loop {
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes loop2 {
    100% {
      transform: translateX(100%);
    }
  }
  @-webkit-keyframes loop2 {
    100% {
      transform: translateX(100%);
    }
  }

  .image__section_1:hover>&__container_1 {
    animation-play-state: paused;
  }

  .image__section_2:hover>&__container_2 {
    animation-play-state: paused;
  }

  .image__section_3:hover>&__container_3 {
    animation-play-state: paused;
  }

  // 각 img들을 감싸는 컨테이너
  &__image1 {
    margin: rem(10px);
    transition: transform 0.1s ease;

    @include desktop {
      width: 906px;
      height: 510px;
    }

    @include tablet {
      width: 277px;
      height: 400px;
    }
  }

  &__image2 {
    margin: rem(5px);
    transition: transform 0.1s ease;

    @include desktop {
      width: 470px;
      height: 264px;
    }

    @include tablet {
      width: 181px;
      height: 102px;
    }
  }

  // 이미지 hover 시 커지게 하는 효과
  &__image1:hover,
  &__image2:hover {
    transform: scale(1.1);
  }

  // 슬라이드의 각 이미지들
  &__image__img1 {
    @include desktop {
      width: rem(906px);
      height: rem(510px);
      background: url(./../../assets/images/figma-desktop/d_러브캐처.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(277px);
      height: rem(400px);
      background: url(./../../assets/images/tablet/t_러브캐처.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img2 {
    @include desktop {
      width: rem(906px);
      height: rem(510px);
      background: url(./../../assets/images/figma-desktop/d_보물찾기.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(277px);
      height: rem(400px);
      background: url(./../../assets/images/tablet/t_보물찾기.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img3 {
    @include desktop {
      width: rem(906px);
      height: rem(510px);
      background: url(./../../assets/images/figma-desktop/d_푸드크로니클.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(277px);
      height: rem(400px);
      background: url(./../../assets/images/tablet/t_술꾼도시여자들.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img4 {
    @include desktop {
      width: rem(906px);
      height: rem(510px);
      background: url(./../../assets/images/figma-desktop/d_몸값.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(277px);
      height: rem(400px);
      background: url(./../../assets/images/tablet/t_아일랜드.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img5 {
    @include desktop {
      width: rem(470px);
      height: rem(264px);
      background: url(./../../assets/images/figma-desktop/d_슈룹.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(181px);
      height: rem(102px);
      background: url(./../../assets/images/tablet/t_슈룹.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img6 {
    @include desktop {
      width: rem(470px);
      height: rem(264px);
      background: url(./../../assets/images/figma-desktop/d_렛미인.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(181px);
      height: rem(102px);
      background: url(./../../assets/images/tablet/t_렛미인.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img7 {
    @include desktop {
      width: rem(470px);
      height: rem(264px);
      background: url(./../../assets/images/figma-desktop/d_연예인.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(181px);
      height: rem(102px);
      background: url(./../../assets/images/tablet/t_연예인.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img8 {
    @include desktop {
      width: rem(470px);
      height: rem(264px);
      background: url(./../../assets/images/figma-desktop/d_푸드크로니클2.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(181px);
      height: rem(102px);
      background: url(./../../assets/images/tablet/t_푸드크로니클2.png) no-repeat;
      background-size: cover;
    }
  }

  &__image__img9 {
    @include desktop {
      width: rem(470px);
      height: rem(264px);
      background: url(./../../assets/images/figma-desktop/d_유퀴즈.png) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(181px);
      height: rem(102px);
      background: url(./../../assets/images/tablet/t_유퀴즈.png) no-repeat;
      background-size: cover;
    }
  }
}

.onboading {
  &__logo {
    @include desktop {
      width: rem(279px);
      height: rem(110px);
      background: url(./../../assets/icon/desktop/new_tving.svg) no-repeat;
      background-size: cover;
    }

    @include tablet {
      width: rem(135px);
      height: rem(52px);
      background: url(./../../assets/icon/desktop/new_tving.svg) no-repeat;
      background-size: cover;
    }

    @include mobile {
      width: rem(83px);
      height: rem(32px);
      background: url(./../../assets/icon/desktop/new_tving.svg) no-repeat;
      background-size: cover;
    }
  }

  &__title {
    color: $white;
    font-weight: 700;
    line-height: 140%;

    @include desktop {
      font-size: rem(50px);
    }

    @include tablet {
      font-size: rem(28px);
    }

    @include mobile {
      font-size: rem(16px);
    }
  }
}