@use '../utils' as *;

.profile__container {
  color: $gray300;
  @include flexbox(column,$justify:center, $items:center);
  transition: all 0.3s;
  
  @include desktop {
    @include containerMax(1920px);
    font-size: rem(21px);
    @include paddingY(130px);
  }

  @include tablet {
    @include containerMax(1280px);
    font-size: rem(12px);
    padding-top: rem(74px);
  }

  @include  mobile{
    @include containerMax(768px);
    font-size: rem(12px);
    padding-top: rem(44px);
  }
  
}

.profile {
  text-align: center;

  // 타이틀 , 서브타이틀 글자 스타일링
  &__title {
    color: $white;
    font-weight: 700;
  }
  &__subtitle {
    line-height: 150%;
    font-weight: 600;
  }

  @include desktop {
    height: 620px;
    padding: rem(130px) 0;
  
    &__title {
      font-size: rem(50px);
      margin-bottom: rem(20px);
    }
    &__subtitle {
      font-size: rem(28px);
    }
  }

  @include tablet {
    &__title {
      font-size: rem(28px);
      margin-bottom: rem(16px);
      padding-top: rem(28px);
    }
    &__subtitle {
      font-size: rem(16px);
    }
  }

  @include mobile{
    width: rem(252px);
  }

}


// 프로필 이미지 
.profile__list {
  position: relative;
  
  @include desktop {
    margin: 44px auto 0;
  }
  
  @include tablet {
    margin: 28px 0 44px;
    max-width: 624px;
  }

  @include mobile{
    padding: 0;
    width: 252px;
  }

}

.profile__items {
  list-style-type: none;
  @include  flexbox;

  @include desktop{
    gap: 52px;
    }
    
  @include tablet {
    gap: 32px;
  }

  @include mobile{
    gap: 24px;
    @include flexbox($wrap:wrap);
  }

  
  &__img {
    @include flexbox(column);
    text-align: center;
    gap: 16px;
    width: 234px;

    @include mobile {
      width: rem(114px);
    }
    & > button {
      padding: 0;
    }
  }

  // 프로필 잠금 이미지

  &_locklist{
    position: absolute;
    top: 0;

    @include  mobile{
      padding: 0;
      gap: 52px 24px;
    }
  } 

  &_lock::after{
    content: '';
      background: url(../../assets/images/figma-mobile/lock.svg) no-repeat 50% 50%;
      width: 100%;
      height: 100%;
      cursor: pointer;



    @include desktop{
      background: url(../../assets/images/figma-desktop/lock.svg) no-repeat 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

    &_lock{
      background: rgba(0, 0, 0, 0.50);
      @include flexbox(column);
      
      @include desktop{
        width: 234px;
        height: 234px;
      }

      @include tablet{
        width: 132px;
        height: 132px;
      }

      @include mobile {
        width: 114px;
        height: 114px;

      }

      
    }

    

  }  
  

// 버튼

.profile__btn {
  background: transparent;
  border-radius: 4px;
  border: 1px solid $gray600;
  color: $gray300;
  
  @include desktop{
    width: 272px;
    height: 86px;
    margin-top: 66px;
    
  }

  @include  tablet{
    width: rem(156px);
    height: rem(50px);
  }

  @include mobile {
    margin-top: rem(32px);
    width: rem(135px);
    padding: 12px 0;
  }
}



//  프로필 편집 페이지 ----------------------------/


// 수정이미지

.profile__items_edit{
    position: absolute;
    top: 0;

    @include  mobile{
      padding: 0;
      gap: 55px 24px;
    }
  

  &_item::after{
    content: '';
      background: url(../../assets/icon/mobile/profile-edit.svg) no-repeat 50% 50%;
      width: 100%;
      height: 100%;
      



    @include desktop{
      background: url(../../assets/icon/desktop/profile-edit.svg) no-repeat 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

    &_item{
      background: rgba(0, 0, 0, 0.50);
      @include flexbox(column);
      
      @include desktop{
        width: 234px;
        height: 234px;
      }

      @include tablet{
        width: 132px;
        height: 132px;
      }

      @include mobile {
        width: 114px;
        height: 114px;
      }

      
    }
  }