// 검색 페이지
@use "./../utils" as *;
@use "./../components" as *;

body {
  counter-reset: listNumber;
}

.search {
  color: $white;
  @include flexbox($justify: center, $direction: column, $items: center);
  transition: all 0.3s;

  @include desktop {
    @include containerMax(1920px);
    @include paddingX(220px);
    padding-top: 152px;
  }

  @include tablet {
    @include containerMax(1280px);
    @include paddingX(123px);
    padding-top: 84px;
  }

  @include mobile {
    @include containerMax(768px);
    @include paddingX(50px);
    padding-top: 58px;
  }
}

.search-form {
  width: 100%;
  position: relative;
}

.form-input__search {
  width: 100%;
  appearance: none;
  outline: none;
  font-weight: 600;
  line-height: 150%;
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid $white;
  padding: 0;

  @include desktop {
    font-size: 37.897px;
  }

  @include tablet {
    // height: 56px;
    font-size: 21.328px;
  }

  @include mobile {
    // height: 41px;
    font-size: 16px;
  }
}

.form-input__search::placeholder {
  @include mobile {
    color: transparent;
  }
}

.form-input::before {
  @include mobile {
    content: "검색";
    color: $gray700;
    font-size: 16px;
    position: absolute;
    bottom: 12px;
  }
}

.search-form button {
  color: transparent;
  position: absolute;
  right: 0;

  @include desktop {
    background: url(../../assets/icon/desktop/d_search.svg) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    bottom: 20px;
  }

  @include tablet {
    background: url(../../assets/icon/desktop/d_search.svg) no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
    bottom: 16px;
  }

  @include mobile {
    background: url(../../assets/icon/desktop/d_search.svg) no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    bottom: 12px;
  }
}

.search_container {
  @include flexbox($justify: space-between, $direction: row);
  width: 100%;
  margin-top: rem(50px);

  @include mobile {
    @include flexbox($direction: column);
  }
}

.recent_container {
  width: 100%;
  border-right: 1px solid #2B2B2B;

  @include desktop {
    margin-right: 60px;
    height: 613px;
  }

  @include tablet {
    margin-right: 35px;
    height: 351px;
  }

  @include mobile {
    display: none;
  }
}

.recent_container h2,
.popula_container h2 {
  font-weight: 600;

  @include desktop {
    font-size: 28.43px;
    margin-bottom: 20px;
  }

  @include tablet {
    font-size: 16px;
    margin-bottom: 12px;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.recent_container p,
.popula_container a {
  font-size: 21.328px;
  color: $gray300;

  @include desktop {
    font-size: 21.328px;
  }

  @include tablet {
    font-size: 12.003px;
  }
}

.popula_container {
  width: 90%;
  @include autoMargin;
}

.popula_container ul {
  margin-top: 36px;
}

.popula_container a {
  display: inline-block;

  @include desktop {
    padding-bottom: 16px;
  }

  @include tablet {
    padding-bottom: 9px;
  }
}

.popula_container a::before {
  counter-increment: listNumber;
  content: counter(listNumber);
  color: #FF153C;
  font-weight: 700;
  display: inline-block;

  @include desktop {
    width: 48px;
  }

  @include tablet {
    width: 20px;
  }
}

.popula_container p {
  color: $gray500;
  margin-top: 16px;

  @include desktop {
    font-size: 21.328px;
  }

  @include tablet {
    font-size: 12px;
  }
}