<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="shortcut icon" href="../../tiving.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../../style/index.css" />
</head>
<body>
  <main>
    <section class="regist__container">
      <div class="regist__wrapper">
        <h1 class="join__title">티빙 회원가입</h1>
        <p class="join__subtitle">아이디와 이메일로 간편하게 티빙을 시작하세요!</p>
          <form action="/">
            <fieldset>
              <legend class="a11yHidden">회원가입</legend>
              <ul class="join__list">
                <li class="join__item"><input type="text" placeholder="아이디" class="join__item_input"/><span class="join__minitext">영문 또는 영문, 숫자 조합 6~12자리</span></li>
                <li class="join__item"><input type="password" placeholder="비밀번호" class="join__item_input"/><span class="join__minitext">영문, 숫자, 특수문자(~!@#$%^&*) 조합 8~15자리</span></li>
                <li class="join__item"><input type="password" placeholder="비밀번호 확인" class="join__item_input"/></li>
                <li class="join__item"><input type="email" placeholder="이메일" class="join__item_input"/></li>
              </ul>
              <ul class="join__checkList">
                <li class="join__checkList_all"><label class="join__checkItem"><input type="checkbox" name="checkAll" id="checkAll" />모두 동의합니다.</label></li>
                <li ><label for="essential__age" class="join__checkItem"><input type="checkbox" name="essential__age" id="essential__age" />만 14세 이상입니다.</label></li>
                <li><label class="join__checkItem"><input type="checkbox" name="essential__service" id="essential__service" />[필수] 서비스 이용약관 동의</label></li>
                <li><label class="join__checkItem"><input type="checkbox" name="essential__privacy_info" id="essential__privacy_info" />[필수] 개인정보 수집 및 서비스 활용 동의</label></li>
                <li><label class="join__checkItem"><input type="checkbox" name="essential__pageprivacy" id="essential__pageprivacy" />[필수] 채널 홈페이지 개인정보 제 3자 제공동의</label></li>
                <li><label class="join__checkItem"><input type="checkbox" name="choice_privacy" id="choice_privacy" />[선택] 개인정보 제 3자 제공동의</label></li>
                <li><label class="join__checkItem"><input type="checkbox" name="choice_service" id="choice_service" />[선택] 개인정보 수집 및 서비스 활용 동의</label>
                </li>
                <li>
                  <ul class="join__checkList_2">
                    <li><label class="join__checkItem_2"><input type="checkbox" name="choice_sms" id="choice_sms" />[선택] 마케팅 정보 SMS 수신동의</label></li>
                    <li><label class="join__checkItem_2"><input type="checkbox" name="choice_dlapdilf" id="choice_dlapdilf" />[선택] 마케팅 정보 dlapdlf수신동의</label></li>
                  </ul>
                </li>
              </ul>
            </fieldset>
          </form>
          <button class="join__submit">가입하기</button>
      </div>
    </section>
  </main>
</body>
</html>