/* Error: This variable is available from multiple global modules.
 *     ,
 * 1   | @use '../base' as *;
 *     | =================== includes variable
 * 2   | @use '../utils' as *;
 *     | ==================== includes variable
 * ... |
 * 5   |   background: $black;
 *     |               ^^^^^^ variable use
 *     '
 *   src\scss\pages\_join.scss 5:15  @forward
 *   src\scss\pages\_index.scss 3:1  @use
 *   src\scss\index.scss 2:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This variable is available from multiple global modules.\a     \2577 \a 1   \2502  @use '../base' as *;\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  includes variable\a 2   \2502  @use '../utils' as *;\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  includes variable\a... \2502 \a 5   \2502    background: $black;\d\a     \2502                ^^^^^^ variable use\a     \2575 \a   src\\scss\\pages\\_join.scss 5:15  @forward\a   src\\scss\\pages\\_index.scss 3:1  @use\a   src\\scss\\index.scss 2:1         root stylesheet";
}
